<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for(:title) { "DevProd (1080p)" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Kandash dashboard" data-text="JIRA Rapid Board Work in Progress &amp; Jenkins health." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jira_wip" data-view="Meter" data-title="JIRA Work In Progress" data-min="0" data-max="5"></div>
    </li>
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jenkins_unhealthy" data-view="Meter" data-title="Unhealthy Jenkins jobs" data-min="0" data-max="10"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jira_sprint_end_date" data-view="Text" data-title="Sprint End Date" style="background-color:#96bf48;"></div>
      <i class="icon-heart icon-background"></i>
    </li>

  </ul>
</div>